{# Gets object 'activities' and renders it #}
{% for activity in activities %}
    <div class="activity" style="margin-top: 10px; font-size:small; float:left; clear:both">
        {% if activity.type == 'submission' %}
            <div style="float:left; width: 30px">
                {% with %}
                    {% set jeeqser_key = activity.done_by.key()  %}
                    {% set avatar_url = activity.done_by_gravatar %}
                    {% include "jeeqser_avatar.html" %}
                {% endwith %}
            </div>
            <div style="margin-left: 30px;">
                {% with %}
                    {% set jeeqser_key = activity.done_by.key() %}
                    {% set displayname = activity.done_by_displayname %}
                    {% include "jeeqser_displayname.html"%}
                {% endwith %}
                submitted for challenge <a class="noline" href="/challenge/?ch={{ activity.challenge.key() }}"><b>{{ activity.challenge_name }}</b></a>
                &nbsp; <span style="color:grey; font-size:smaller;">{{ activity.date|timesince }} </span>
            </div>
        {% endif %}
        {% if activity.type == 'voting' %}
            <div style="width: 30px; float:left">
                <div style="float:left">
                    {% with %}
                        {% set jeeqser_key = activity.done_by.key()  %}
                        {% set avatar_url = activity.done_by_gravatar %}
                        {% include "jeeqser_avatar.html" %}
                    {% endwith %}
                </div>
                <div style="float:left; clear:left">
                    {% with  %}
                        {% set jeeqser_key = activity.submission_author.key() %}
                        {% set avatar_url = activity.submission_author_gravatar %}
                        {% include "jeeqser_avatar.html"%}
                    {% endwith %}
                </div>
            </div>
            <div style="margin-left: 30px;">
                {% with %}
                    {% set jeeqser_key = activity.done_by.key() %}
                    {% set displayname = activity.done_by_displayname %}
                    {% include "jeeqser_displayname.html"%}
                {% endwith %}
                gave feedback for a submission submitted by
                {% with %}
                    {% set jeeqser_key = activity.submission_author.key() %}
                    {% set displayname = activity.submission_author_displayname %}
                    {% include "jeeqser_displayname.html" %}
                {% endwith %}
                to challenge
                <a class="noline" href="/challenge/?ch={{ activity.challenge.key() }}"><b>{{ activity.challenge_name }}</b></a>
                &nbsp; <span style="color:grey; font-size:smaller;">{{ activity.date|timesince}} </span>
            </div>
        {% endif %}
    </div>
{% endfor %}