{% from 'avatars.html' import avatar %}

{# Gets object 'activities' and renders it #}
{% for activity in activities %}
    <div class="activity_entry">
        {% if activity.type == 'submission' %}
            <div class="activity_avatar">
                {{  avatar(jeeqser_key=activity.done_by, avatar_url=activity.done_by_gravatar) }}
            </div>
            <div class="activity_info">
                {% with %}
                    {% set jeeqser_key = activity.done_by %}
                    {% set displayname = activity.done_by_displayname %}
                    {% include "jeeqser_displayname.html"%}
                {% endwith %}
                submitted for challenge <a class="noline" href="/challenge/?ch={{ activity.challenge.urlsafe() }}"><b>{{ activity.challenge_name }}</b></a>
                <br><span class="activity_time">{{ activity.date|timesince }} </span>
            </div>
        {% endif %}
        {% if activity.type == 'voting' %}
            <div class="activity_avatar">
                <div class="pull-left">
                    {{  avatar(jeeqser_key=activity.done_by, avatar_url=activity.done_by_gravatar) }}
                </div>
{#                <div class="pull-left clearfix">#}
{#                    {{  avatar(jeeqser_key=activity.submission_author, avatar_url=activity.submission_author_gravatar) }}#}
{#                </div>#}
            </div>
            <div class="activity_info">
                {% with %}
                    {% set jeeqser_key = activity.done_by %}
                    {% set displayname = activity.done_by_displayname %}
                    {% include "jeeqser_displayname.html"%}
                {% endwith %}
                gave feedback for a submission submitted by
                {% with %}
                    {% set jeeqser_key = activity.submission_author %}
                    {% set displayname = activity.submission_author_displayname %}
                    {% include "jeeqser_displayname.html" %}
                {% endwith %}
                to challenge
                <a class="noline" href="/challenge/?ch={{ activity.challenge.urlsafe() }}"><b>{{ activity.challenge_name }}</b></a>
                <br><span class="activity_time">{{ activity.date|timesince}} </span>
            </div>
        {% endif %}
    </div>
{% endfor %}