<script>
    $(document).ready(function() {
        {% if not challenge.markdown and challenge.document_id and challenge.access_key %}
            $( '#challenge_tabs a[href="#source-pdf"]' ).tab('show');
        {% else %}
            $( '#challenge_tabs a:first' ).tab('show');
        {% endif %}
    })

    $(document).ready(function() {
        $('#submitChallengeSource').bind('click', function(event, ui) {
            $(this).attr("disabled", "disabled");
            var $newSource = $('#challenge-source').val();
            var $challengeKey = $('#challenge_key').val();
            $initiator = $(this)

            $.ajax({
                url: "/rpc",
                async: true,
                type: "POST",
                data: {'method': 'submit_challenge_source', 'challenge_key': $challengeKey, 'source':$newSource},
                success: function(response){
                    $initiator.button('updated');
                    window.location.reload();
                },
                error: function(response) {
                    $initiator.button('error');
                }
            })
        })

        $('#submit_challenge_vertical_scroll').bind('click', function(event, ui) {
            $(this).attr("disabled", "disabled");
            var $new_vertical_scroll = scribd_doc.api.getVerticalScroll()
            $initiator = $(this)

            $.ajax({
                url: "/rpc",
                async: true,
                type: "POST",
                data: {'method': 'submit_challenge_vertical_scroll', 'challenge_key': '{{ challenge.key() }}', 'vertical_scroll':$new_vertical_scroll},
                success: function(response){
                    $initiator.button('updated');
                    window.location.reload();
                },
                error: function(response) {
                    $initiator.button('error');
                }
            })
        })

    })
</script>

    <div class="challenge" style="float:left; width:100%;">
        <div class="hero-unit" style="padding: 20px;">
            <h1 style="font-size: 20px">{{ challenge.name }}</h1>
        </div>
        <h3> {% include "exercise_breadcrumbs.html" %} </h3>
        <div id="challenge" style="height: 450px; margin: 10px">
            <ul id = "challenge_tabs" class="nav nav-tabs">
                <li><a href="#tabs-1" data-toggle="tab">Problem</a></li>
                <li><a href="#tabs-2" data-toggle="tab">Source</a></li>
                <li><a href="#source-pdf" data-toggle="tab">PDF</a></li>
                {% if challenge.attribution %}
                    <li><a href="#challenge_info" data-toggle="tab">Info</a></li>
                {% endif %}
            </ul>
            <div id="challenge_tab_contents" class="tab-content" style="max-height: 400px">
                <div id="tabs-1" class="fade tab-pane">
                    {% if challenge.content  %}
                        <p> {{ challenge.content|safe }} </p>
                    {% else %}
                        <p> To be completed! </p>
                    {% endif %}
                </div>
                <div id="tabs-2" class="fade tab-pane">
                    <textarea id="challenge-source" {% if not isadmin %}readonly="true" {% endif %}rows="18" style="width: 100%; padding: 0px">{{ challenge.markdown }}</textarea>
                    {% if isadmin %}
                        <button class="btn btn-large btn-primary" data-updated-text="Updated" data-error-text="Oops!!" id="submitChallengeSource" style="margin-top: 10px">Update</button>
                    {% endif %}
                </div>
                <div id="source-pdf" class="tab-pane fade">
                    {% if challenge.document_id and challenge.access_key %}
                        <div id='embedded_challenge' style="width: 100%;"></div>
                        <script type="text/javascript">
                            var document_id = '{{ challenge.document_id }}';
                            var access_key = '{{ challenge.access_key }}';

                            var scribd_doc = scribd.Document.getDoc(document_id, access_key);

                            var onDocReady = function(e){
                                {% if challenge.vertical_scroll %}
                                    scribd_doc.api.setVerticalScroll({{ challenge.vertical_scroll }});
                                {% endif %}
                            }

                            scribd_doc.addParam('jsapi_version', 2);
                            scribd_doc.addParam('width', $('#challenge_tab_contents').width() - 50);
                            scribd_doc.addParam('height', 500);
                            scribd_doc.addParam('default_embed_format', 'flash');
                            scribd_doc.addEventListener('docReady', onDocReady);
                            scribd_doc.write('embedded_challenge');
                        </script>
                        {% if isadmin %}
                            <button class="btn btn-large btn-primary" data-updated-text="Updated" data-error-text="Oops!!" id="submit_challenge_vertical_scroll" style="margin-top: 20px">Update Vertical Scroll</button>
                        {% endif %}
                    {% endif %}
                </div>
                <div id="challenge_info" class="tab-pane fade">
                    {% if challenge.exercise %}
                        <p>
                            <strong>Course</strong>
                            <br/>
                            <small>{{ challenge.exercise_university }}, {{ challenge.exercise_program }} : {{ challenge.exercise_course_name }}</small>
                        </p>
                    {%  endif %}
                    {% if challenge.attribution %}
                        <p> <strong>Attribution</strong>
                            <br/>
                            <small>{{ challenge.attribution }}</small>
                        </p>
                    {% endif %}
                    {% if challenge.source %}
                        <p> <strong>Source</strong>
                            <br/><small><a class="noline" target="_blank" href="{{ challenge.source }}">{{ challenge.source}}</a></small></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
