{# pdfjs #}
<script type="text/javascript" src="/static/pdfjs/build/generic/build/pdf.min.js"></script>
<script type="text/javascript" src="/static/pdfjs/build/generic/web/compatibility.js"></script>
<script type="text/javascript">
    PDFJS.workerSrc = '/static/pdfjs/build/generic/build/pdf.min.js';
</script>
<script>
    $(document).ready(function() {
        {% if not challenge.markdown %}
            $( '#challenge_tabs a[href="#source-pdf"]' ).tab('show');
        {% else %}
            $( '#challenge_tabs a:[href="#tabs-1"]' ).tab('show');
        {% endif %}
        {% if not challenge.has_sandbox %}
            $('#console').hide();
        {% endif %}

        {% if challenge.pdf_url %}
            var viewer = $('#viewer');
            var pdf_container = $('#pdf_container');
            var challenge = {};
            challenge.pdf_endoffset = parseInt({{ challenge.pdf_endoffset if challenge.pdf_endoffset else 0 }});
            challenge.pdf_endpage = parseInt({{ challenge.pdf_endpage if challenge.pdf_endpage else 0 }});
            challenge.pdf_startpage = parseInt({{ challenge.pdf_startpage if challenge.pdf_startpage else 0 }});
            challenge.pdf_startoffset = parseInt({{ challenge.pdf_startoffset if challenge.pdf_startoffset else 0 }});

            PDFJS.getDocument('{{ challenge.pdf_url }}').then(function(pdf) {

                if (isNaN(challenge.pdf_endpage)|| challenge.pdf_endpage==0){
                    challenge.pdf_endpage = pdf.numPages;
                }
                if (isNaN(challenge.pdf_startpage)||challenge.pdf_startpage==0){
                    challenge.pdf_startpage = 1;
                }
                var pages = [parseInt(challenge.pdf_startpage), parseInt(challenge.pdf_endpage)]
                for (var page_num = pages[0]; page_num <= pages[1]; page_num ++) {
                    // Using promise to fetch the page
                    pdf.getPage(page_num).then(function(page) {
                        var scale = 1.5;
                        var viewport = page.getViewport(scale);

                        var pageDisplayWidth = viewport.width;
                        var pageDisplayHeight = viewport.height;

                        var pageDivHolder = $('<div></div>')
                        pageDivHolder.addClass('pdfpage')
                        pageDivHolder.css('width', pageDisplayWidth + 'px');
                        pageDivHolder.css('height', pageDisplayHeight + 'px');
                        pdf_container.append(pageDivHolder);
                        if (challenge.pdf_endoffset!='' || challenge.pdf_endoffset!=0){
                            $("#viewer").css('height', challenge.pdf_endoffset + 'px');
                        }
                        $("#pdf_container").css('top', '-' + challenge.pdf_startoffset + 'px')

                        // Prepare canvas using PDF page dimensions
                        var canvas = $('<canvas></canvas>');
                        var context = canvas[0].getContext('2d');
                        canvas.attr('id', 'pdf_display');
                        canvas.attr('width', pageDisplayWidth);
                        canvas.attr('height', pageDisplayHeight);
                        pageDivHolder.append(canvas);

                        // Render PDF page into canvas context
                        var renderContext = {
                            canvasContext: context,
                            viewport: viewport
                        };
                        page.render(renderContext);
                    });
                }
            })
        {% endif %}
        $('#submitChallengeSource').bind('click', function(event, ui) {
            $(this).attr("disabled", "disabled");
            var $newSource = $('#challenge-source').val();
            var $challengeKey = $('#challenge_key').val();
            $initiator = $(this)

            $.ajax({
                url: "/rpc",
                async: true,
                type: "POST",
                data: {'method': 'submit_challenge_source', 'challenge_key': $challengeKey, 'source':$newSource},
                success: function(response){
                    $initiator.button('updated');
                    window.location.reload();
                },
                error: function(response) {
                    $initiator.button('error');
                }
            })
        })
    })
</script>

<div class="challenge pull-left span12">
    <h2>{{ challenge.name }} <a href="/admin/challenges/edit?ch={{challenge_key.urlsafe()}}" class="btn btn-primary">Edit</a> </h2>
    <h3> {% include "exercise_breadcrumbs.html" %} </h3>

    <div id="challenge span12">
        <ul id = "challenge_tabs" class="nav nav-tabs">
            <li><a href="#tabs-1" data-toggle="tab">Problem</a></li>
            <li><a href="#tabs-2" data-toggle="tab">Source</a></li>
            <li><a href="#source-pdf" data-toggle="tab">PDF</a></li>
            {% if challenge.attribution %}
            <li><a href="#challenge_info" data-toggle="tab">Info</a></li>
            {% endif %}
        </ul>
        <div id="challenge_tab_contents" class="tab-content">
            <div id="tabs-1" class="fade tab-pane">
                {% if challenge.content  %}
                <p> {{ challenge.content|safe }} </p>
                {% else %}
                <p> To be completed! </p>
                {% endif %}
            </div>
            <div id="tabs-2" class="fade tab-pane">
                <textarea id="challenge-source" class="span12" {% if not isadmin %}readonly="true" {% endif %}rows="18">{{ challenge.markdown }}</textarea>
                {% if isadmin %}
                <button class="btn btn-large btn-primary" data-updated-text="Updated" data-error-text="Oops!!" id="submitChallengeSource">Update</button>
                {% endif %}
            </div>
            <div id="source-pdf" class="fade tab-pane">
                {% if challenge.pdf_url %}
                <div id='embedded_challenge' class="pull-left">
                    <div id="viewer_container" class="pull-left span11"><div id="viewer"><div id="pdf_container"></div> </div></div>
                </div>
                {% endif %}
            </div>

            <div id="challenge_info" class="tab-pane fade">
                {% if challenge.exercise %}
                <p>
                    <strong>Course</strong>
                    <br/>
                    <small>{{ challenge.exercise_university }}, {{ challenge.exercise_program }} : {{ challenge.exercise_course_name }}</small>
                </p>
                {%  endif %}
                {% if challenge.attribution %}
                <p> <strong>Attribution</strong>
                    <br/>
                    <small>{{ challenge.attribution }}</small>
                </p>
                {% endif %}
                {% if challenge.source %}
                <p> <strong>Source</strong>
                    <br/><small><a class="noline" target="_blank" href="{{ challenge.source }}">{{ challenge.source}}</a></small></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

