{% from 'avatars.html' import avatar %}
{% extends "base_twoColumn.html" %}
{% block script %}

    <script>
        finish_tour = function() {
            guiders.hideAll();
            $('#tour').hide()

            {% if jeeqser %}
                $.ajax({
                    url: "/rpc",
                    async: true,
                    type: "POST",
                    data: {'method': 'took_tour', 'jeeqser_key': "{{ jeeqser.key.urlsafe() }}"},
                    success: function(response){
                    }
                })
            {% endif %}
        }

        // Website tour
        guiders.createGuider({
            buttons: [
                {name:"Next"}
                ,{name: "Close"
                    ,onclick: function() {
                        finish_tour()
                    }}
            ],
            description: "Jeeqs is a collaborative problem solving and learning platform ... ",
            id: "first",
            next: "second",
            overlay: true,
            title: "Welcome to Jeeqs!"
        });

        guiders.createGuider({
            attachTo: "#challenge-list",
            highlight: "#challenge-list",
            buttons: [
                {name: "Next"}
                ,{name: "Close"
                    ,onclick: function() {
                        finish_tour()
                    }}],
            description: "Click on a challenge and submit your solution to the challenge ...",
            id: "second",
            next: "third",
            position: 12,
            overlay: true,
            title: "Submit for Challenges"
        });

        guiders.createGuider({
            attachTo: "#injeeqs",
            highlight: "#injeeqs",
            buttons: [
                {name: "Next"}
                ,{name: "Close"
                    ,onclick: function() {
                        finish_tour()
                    }}],
            description: "Once you submit your solution, Jeeqs will gather reviews (called In-Jeeqs) for your submission and shows it here. Once you have positive reviews for a submission, you can start reviewing other submissions for that challenge ...",
            id: "third",
            next: "fourth",
            position: 12,
            overlay: true,
            title: "Wait for Feedbacks (Incoming Jeeqs)"
        });

        guiders.createGuider({
            buttons: [
                {name: "Close"
                    ,onclick: function() {
                    finish_tour()
                }}],
            description: "Remember to review some submissions before you submit further challenges. You can start with the Factorial challenge to receive automatic review!",
            id: "fourth",
            overlay: true,
            title: "Jeeqs on!"
        });

        $(document).ready(function () {
            $('#home_tabs a:first').tab('show');

            $(':button').button();

            $('#take_tour').on('click', function () {
                guiders.show('first')
            })

            $('#show_tour').on('click', function (event) {
                event.preventDefault()
                guiders.show('first')
            })

            $(".challenge_stats").on('click', function (event) {
                event.stopPropagation();
                var $avatars = $(this).parents('.challenge_in_list').find('.challenge_avatars')
                if ($avatars.css('display') == 'none') {
                    // Get people who solved this challenge
                    var $challenge_key = $('input[name="challenge_key"]', $avatars).val()
                    $.ajax({
                        url: "/rpc",
                        async: true,
                        type: "GET",
                        data: {'method': 'get_challenge_avatars', 'challenge_key': $challenge_key},
                        success: function (response) {
                            $avatars.html(response);
                        }
                    })
                    $avatars.show();
                }
                else {
                    $avatars.hide()
                }
            })

            $(".challenge_in_list").on('click', function () {
                window.location = $(this).find("a").attr("href");
                // return false;
            });

            var cursor = '';
            var more = false;
            var counter = 10;
            $("#load_more").on('click', function () {
                var activities = $('#activities_more').html();
                counter = counter + 10;
                if (counter > 999)
                    return;
                $.ajax({
                    url: "/rpc",
                    async: true,
                    type: "GET",
                    data: {'method': 'get_activities', 'cursor': cursor},
                    success: function (response) {
                        response_object = JSON.parse(response);
                        cursor = response_object.cursor;
                        more = response_object.more;
                        more_activities = response_object.activities;
                        if (more){
                            $('#load_more').text('Loading...');
                            $('#activities_more').html(activities + more_activities);
                            $('#load_more').text('more');
                        }
                        else {
                            $('#load_more').text('Loading...');
                            $('#activities_more').html(activities + more_activities);
                            $('#load_more').hide();
                        }
                    },
                    error: function (response) {
                        $('#more').text('An error has occurred! Please try again!');
                    }
                });
            });
        });
    </script>
{% endblock script %}

{% block column1 %}
    <h2>Python {# A Gentle Introduction to Programming Using Python, OCW, MIT #}
    <a class="noline"
       href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-189-a-gentle-introduction-to-programming-using-python-january-iap-2011/"
       target="_blank">
        <i class="icon-share-alt pull-right"></i>
    </a>
    </h2>
    <div id="challenge-list">
        <ul id="home_tabs" class="nav nav-tabs">
            <li><a href="#challenges" data-toggle="tab">Challenges</a></li>
            <li><a href="#injeeqs" data-toggle="tab"><i class="icon icon-arrow-down"></i>Incoming Jeeqs</a></li>
        </ul>
        <div id="challenge_list_contents" class="tab-content">
            <div id="challenges" class="fade tab-pane">
                <div style="cursor: pointer;">
                    {% for challenge in challenges %}
                        <div class="challenge_in_list clearfix">
                            <div>
                                <a class="noline" href="/challenge/?ch={{ challenge.key.urlsafe() }}" style="color:
                                        {% if challenge.status == 'correct' %}
                                            #089619
                                        {% endif %}
                                        {% if challenge.status == 'incorrect' %}
                                            #960D22
                                        {% endif %}
                                    ">
                                    {{ challenge.name }}
                                    {% if challenge.automatic_review %}
                                    <a href="#" rel="tooltip" data-original-title="Jeeqs will review this!"><i class="icon-refresh"></i></a>
                                    {% endif %}
                                </a>
                                    <p>
                                        {% if challenge.exercise_number %}
                                    <div class="pull-left clear-left">
                                        {{ challenge.exercise_number}}
                                    </div>
                                    {% endif %}

                                    {% if challenge.exercise_number %}
                                    <div class="pull-left" title="{{ challenge.exercise_course_name }}">
                                        {{ challenge.exercise_course_code }}
                                    </div>
                                    <div class="pull-left">
                                        {{ challenge.exercise_program }}{{ challenge.exercise_university }}
                                    </div>
                                    {% endif %}
                                    </p>


                            </div>
                            <div class="pull-right">
                                    <a class="noline" href="/challenge/?ch={{ challenge.key.urlsafe() }}" title="Solve this challenge">
                                        {% if challenge.status == 'correct' %}
                                            <i class="ui-icon ui-icon-unlocked"></i>
                                        {% else %}
                                            <i class="icon-lock"></i>
                                        {% endif %}
                                    </a>
                               
                            </div>
                            <div class="challenge_stats_container pull-right clear-right ">
                                {%if challenge.num_jeeqsers_solved > 0 %}
                                    {% set cursor = 'pointer' %}
                                {% else %}
                                    {% set cursor = 'default' %}
                                {% endif %}

                                        <a class="noline challenge_stats noline badge_links pull-right" href="/challenge/?ch={{ challenge.key.urlsafe() }}#review" rel="tooltip" data-original-title="{{ challenge.submissions_without_review|d('0') }} submissions don't have any reviews"><span class="label font-normal deeplink hover-effect"> {{ challenge.submissions_without_review|d('0')}} <i class="shift-right-2 icon-comment icon-white"></i></span></a>
                                        <a class="noline badge_links challenge_stats pull-right" rel="tooltip" data-original-title="{{ challenge.num_jeeqsers_solved|d('0')}} jeeqser(s) solved"><span class="label font-normal">{{ challenge.num_jeeqsers_solved|d('0')}} <i class="icon-ok-circle shift-right-2 icon-white"></i></span></a>
                                        <a class="noline badge_links challenge_stats pull-right" rel="tooltip" data-original-title="{{ challenge.num_jeeqsers_submitted|d('0')}} jeeqser(s) submitted for this challenge."><span class="label font-normal"> {{ challenge.num_jeeqsers_submitted|d('0')}} <i class="shift-right-2 icon-upload icon-white"></i></span></a>
                            </div>

                            {% if challenge.last_solver %}
                                <div class="pull-right clear-right" style="margin-top: 10px;">
                                    {{  avatar(challenge.last_solver, challenge.last_solver_picture_url, style='pull-right') }}
                                </div>
                            {% endif %}

                            {% if challenge.submitted %}
                                <div class="clearfix">
                                    {% with submission=challenge.jc %}
                                        {% include "attempt_score.html"%}
                                    {% endwith %}
                                </div>
                            {% endif %}

                            <div class="challenge_avatars pull-left" style="display:none;">
                                <input type=hidden name="challenge_key" value="{{ challenge.key.urlsafe() }}"/>
                                <span class="disabled">Loading ...</span>
                            </div>

                            
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="injeeqs" class="fade tab-pane">
                <div class="jeeqs-list">
                    {% with %}
                        {% set feedbacks = injeeqs %}
                        {% set write_challenge_name = 'true' %}
                        {% include "in_jeeqs_list.html"%}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>

{% endblock column1 %}
{% block column2 %}
    {% if not jeeqser.took_tour %}
        <div id="tour" class="pull-right content_centered" >
            <button class="btn btn-info" id="take_tour">Take a Tour</button>
        </div>
    {% endif %}
    <div style="width: 90%; margin: 10px; float:right; clear:right">
        {% include "plusone.html" %}
        {#        {% include "facebook_likebox.html" %}#}
    </div>
    <div id="all_activities" class="pull-right clear-right">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#">Activities</a>
            </li>
        </ul>
        <div id="activities_more">
            {% include "activities_list.html"%}
        </div>
        <div class="load_more"><button id="load_more" class="btn btn-small">more</button></div>
    </div>
{% endblock column2 %}

