{% from 'avatars.html' import avatar %}
{% extends "base_twoColumn.html" %}
{% block script %}

<script xmlns="http://www.w3.org/1999/html">
    finish_tour = function() {
        guiders.hideAll();
        $('#tour').hide()

        {% if jeeqser %}
            $.ajax({
                url: "/rpc",
                async: true,
                type: "POST",
                data: {'method': 'took_tour', 'jeeqser_key': "{{ jeeqser.key.urlsafe() }}"},
                success: function(response){
                }
            })
        {% endif %}
    }

    {% if jeeqser %}
        {% set after_first = '"second"' %}
    {% else %}
        {% set after_first = '"first_login"' %}
    {% endif %}

    // Website tour
    guiders.createGuider({
        buttons: [
            {name:"Next"}
            ,{name: "Close"
                ,onclick: function() {
                    finish_tour()
                }}
        ],
        description: "Jeeqs is a collaborative problem solving and learning platform.",
        id: "first",
        next: {{ after_first }},
        overlay: true,
        title: "Welcome to Jeeqs!"
    });

    // If the user isn't logged in, mention that he needs to login.
    {% if not jeeqser %}
        guiders.createGuider({
            attachTo: "#login_url",
            highlight: "#login_url",
            buttons: [
                {name: "Next"},
                {name: "Close",
                    onclick: function() {finish_tour()}
                }],
            description: "Login here using your Google account to start working with Jeeqs.",
            id: "first_login",
            next: "second",
            position: 6,
            overlay: true,
            title: "Login to start"
        });
    {% endif %}

    guiders.createGuider({
        attachTo: "#challenges",
        highlight: "#challenges",
        buttons: [
            {name: "Next"}
            ,{name: "Close"
                ,onclick: function() {
                    finish_tour()
                }}],
        description: "Click on a challenge and submit your solution for a challenge.",
        id: "second",
        next: "third",
        position: 12,
        overlay: true,
        title: "Submit Solutions"
    });

    guiders.createGuider({
        attachTo: "#injeeqs",
        highlight: "#injeeqs",
        buttons: [
            {name: "Next"}
            ,{name: "Close"
                ,onclick: function() {
                    finish_tour()
                }}],
        description: "Once you submit your solution, Jeeqs will gather reviews for your submission and show it here.",
        id: "third",
        next: "fourth",
        position: 12,
        offset: { left:0, top:50 },
        overlay: true,
        title: "Wait For Reviews",
        onShow: function(){$( '#home_tabs a:[href="#injeeqs"]' ).tab('show');}
    });

    guiders.createGuider({
        buttons: [
            {name: "Next"}
            ,{name: "Close"
                ,onclick: function() {
                    finish_tour()
                }}],
        description: "When you have received positive reviews, you can start reviewing other submissions for that challenge.<br /><br />" +
                "You can start with the Factorial challenge to receive automatic review!",
        id: "fourth",
        next: "fifth",
        overlay: true,
        title: "Review others work!",
        onShow: function(){$( '#home_tabs a:first' ).tab('show');}
    });

    guiders.createGuider({
        attachTo: "#course_dropdown",
        highlight: "#course_dropdown",
        buttons: [
            {name: "Close"
                ,onclick: function() {
                finish_tour()
            }}],
        description: "You have some of world's greatest courses to choose from! Select a course of your choice from this dropdown.",
        id: "fifth",
        position: 6,
        overlay: true,
        title: "Jeeqs on!",
    });


        $(document).ready(function () {
            $('#home_tabs a:first').tab('show');

            $(':button').button();

            $('#take_tour').on('click', function () {
                guiders.show('first')
            })

            $('#show_tour').on('click', function (event) {
                event.preventDefault()
                guiders.show('first')
            })

            $(".challenge_stats").on('click', function (event) {
                event.stopPropagation();
                var $avatars = $(this).parents('.challenge_in_list').find('.challenge_avatars')
                if ($avatars.css('display') == 'none') {
                    // Get people who solved this challenge
                    var $challenge_key = $('input[name="challenge_key"]', $avatars).val()
                    $.ajax({
                        url: "/rpc",
                        async: true,
                        type: "GET",
                        data: {'method': 'get_challenge_avatars', 'challenge_key': $challenge_key},
                        success: function (response) {
                            $avatars.html(response);
                        }
                    })
                    $avatars.show();
                }
                else {
                    $avatars.hide()
                }
            })

            $(".challenge_in_list").on('click', function () {
                window.location = $(this).find("a").attr("href");
                // return false;
            });

            var cursor = '';
            var more = false;
            var counter = 10;
            $("#load_more").on('click', function () {
                var activities = $('#activities_more').html();
                counter = counter + 10;
                if (counter > 999)
                    return;
                $.ajax({
                    url: "/rpc",
                    async: true,
                    type: "GET",
                    data: {'method': 'get_activities', 'cursor': cursor},
                    success: function (response) {
                        response_object = JSON.parse(response);
                        cursor = response_object.cursor;
                        more = response_object.more;
                        more_activities = response_object.activities;
                        if (more){
                            $('#load_more').text('Loading...');
                            $('#activities_more').html(activities + more_activities);
                            $('#load_more').text('more');
                        }
                        else {
                            $('#load_more').text('Loading...');
                            $('#activities_more').html(activities + more_activities);
                            $('#load_more').hide();
                        }
                    },
                    error: function (response) {
                        $('#more').text('An error has occurred! Please try again!');
                    }
                });
            });
        });
</script>
{% endblock script %}

{% block column1 %}
<h2>{{ course.name }}
    <a class="noline"
       href="{{ course.url }}"
       target="_blank">
        <i class="icon-share-alt pull-right"></i>
    </a>
</h2>
<div id="challenge-list" class="row-fluid">
    <ul id="home_tabs" class="nav nav-tabs">
        <li><a href="#challenges" data-toggle="tab">Challenges</a></li>
        <li><a href="#injeeqs" data-toggle="tab"><i class="icon icon-arrow-down"></i>Incoming Reviews</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="challenges">
            {% for challenge in challenges %}
            <div class="challenge_in_list clearfix">
                <div class="pull-left clear-left margin-left-zero">
                    <a class="noline black
                                        {% if challenge.status == 'correct' %}
                                            gray
                                        {% endif %}
                                        {% if challenge.status == 'incorrect' %}
                                            gray
                                        {% endif %}
                                     challenge_title" href="/challenge/?ch={{ challenge.key.urlsafe() }}">
                        {{ challenge.name }}
                        {% if challenge.automatic_review %}
                        <a class="noline gray" href="#" rel="tooltip" data-original-title="Jeeqs will review this!"><i class="icon-refresh"></i></a>
                        {% endif %}
                    </a>
                    <p>
                        {% if challenge.exercise_number %}
                    <div class="pull-left clear-left course gray course_details">
                        {{ challenge.exercise_number}}
                    </div>
                    {% endif %}

                    {% if challenge.exercise_number %}
                    <div class="pull-left course gray course_details" title="{{ challenge.exercise_course_name }}">
                        {{ challenge.exercise_course_code }}
                    </div>
                    <div class="pull-left course gray course_details">
                        {{ challenge.exercise_program }}
                    </div>
                    <div class="pull-left gray course_details">
                        {{ challenge.exercise_university }}
                    </div>
                    {% endif %}
                    </p>
                    {% if challenge.submitted %}
                    <div class="clear-left margin-left-zero">
                        {% with submission=challenge.jc %}
                        {% include "attempt_score.html"%}
                        {% endwith %}
                    </div>
                    {% endif %}
                    <br>
                    <div class="challenge_avatars span9 margin-left-zero pull-left" style="display:none; margin-top:5px;">
                        <input type=hidden name="challenge_key" value="{{ challenge.key.urlsafe() }}"/>
                        <span class="disabled">Loading ...</span>
                    </div>
                </div>
                <div class="pull-right">
                    {% if challenge.status == 'correct' %}
                    <a class="noline gray" href="/challenge/?ch={{ challenge.key.urlsafe() }}" title="Solve this challenge">
                        <i class="icon-unlock"></i>
                        {% else %}
                        <a class="noline black" href="/challenge/?ch={{ challenge.key.urlsafe() }}" title="Solve this challenge">
                            <i class="icon-lock"></i>
                            {% endif %}
                        </a>
                </div>
                <div class="challenge_stats_container pull-right clear-right ">
                    {%if challenge.num_jeeqsers_solved > 0 %}
                        {% set cursor = 'pointer' %}
                    {% else %}
                        {% set cursor = 'default' %}
                    {% endif %}

                    <a class="noline challenge_stats pull-right" href="/challenge/?ch={{ challenge.key.urlsafe() }}#review" rel="tooltip" data-original-title="{{ challenge.submissions_without_review|d('0') }} submissions don't have any reviews"><span class="label font-normal deeplink hover-effect"> {{ challenge.submissions_without_review|d('0')}} <i class="shift-right-2 icon-comments icon-white"></i></span></a>
                    <a class="noline challenge_stats pull-right" rel="tooltip" data-original-title="{{ challenge.num_jeeqsers_solved|d('0')}} jeeqser(s) solved"><span class="label font-normal">{{ challenge.num_jeeqsers_solved|d('0')}} <i class="icon-ok-circle shift-right-2 icon-white"></i></span></a>
                    <a class="noline pull-right" rel="tooltip" data-original-title="{{ challenge.num_jeeqsers_submitted|d('0')}} jeeqser(s) submitted for this challenge."><span class="label font-normal"> {{ challenge.num_jeeqsers_submitted|d('0')}} <i class="shift-right-2 icon-upload icon-white"></i></span></a>
                </div>

                {% if challenge.last_solver %}
                <div class="pull-right clear-right" style="margin-top: 10px;">
                    {{  avatar(challenge.last_solver, challenge.last_solver_picture_url, style='pull-right') }}
                </div>
                {% endif %}

            </div>
            {% endfor %}
        </div>
        <div id="injeeqs" class="fade tab-pane">
            <div class="jeeqs-list">
                {% with %}
                    {% set feedbacks = injeeqs %}
                    {% set cursor = feedbacks_cursor %}
                    {% set write_challenge_name = 'true' %}
                    {% include "in_jeeqs_list.html"%}
                {% endwith %}
            </div>
        </div>
    </div>
</div>

{% endblock column1 %}

{% block column2 %}
{% if not jeeqser.took_tour %}
<div id="tour" class="pull-right content_centered" >
    <button class="btn btn-info" id="take_tour">Take a Tour</button>
</div>
{% endif %}
<div class="share_social">
    {% include "plusone.html" %}
    {#        {% include "facebook_likebox.html" %}#}
</div>
{% if jeeqser %}
    <div id="all_activities" class="pull-right clear-right">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#">Activities</a>
            </li>
        </ul>
        <div id="activities_more">
            {% include "activities_list.html"%}
        </div>
        <div class="load_more"><button id="load_more" class="btn btn-small">more</button></div>
    </div>
{% endif %}
{% endblock column2 %}
