{% from 'avatars.html' import avatar %}
{% extends "base_twoColumn.html" %}
{% block script %}

    <script>
        finish_tour = function() {
            guiders.hideAll();
            $('#tour').hide()

            {% if jeeqser %}
                $.ajax({
                    url: "/rpc",
                    async: true,
                    type: "POST",
                    data: {'method': 'took_tour', 'jeeqser_key': "{{ jeeqser.key() }}"},
                    success: function(response){
                    }
                })
            {% endif %}
        }

        // Website tour
        guiders.createGuider({
            buttons: [
                {name:"Next"}
                ,{name: "Close"
                    ,onclick: function() {
                        finish_tour()
                    }}
            ],
            description: "Jeeqs is a collaborative problem solving and learning platform ... ",
            id: "first",
            next: "second",
            overlay: true,
            title: "Welcome to Jeeqs!"
        });

        guiders.createGuider({
            attachTo: "#challenge-list",
            highlight: "#challenge-list",
            buttons: [
                {name: "Next"}
                ,{name: "Close"
                    ,onclick: function() {
                        finish_tour()
                    }}],
            description: "Click on a challenge and submit your solution to the challenge ...",
            id: "second",
            next: "third",
            position: 12,
            overlay: true,
            title: "Submit for Challenges"
        });

        guiders.createGuider({
            attachTo: "#all-jeeqs-in-list",
            highlight: "#all-jeeqs-in-list",
            buttons: [
                {name: "Next"}
                ,{name: "Close"
                    ,onclick: function() {
                        finish_tour()
                    }}],
            description: "Once you submit your solution, Jeeqs will gather reviews (called In-Jeeqs) for your submission and shows it here. Once you have positive reviews for a submission, you can start reviewing other submissions for that challenge ...",
            id: "third",
            next: "fourth",
            position: 12,
            overlay: true,
            title: "Wait for Feedbacks (In Jeeqs)"
        });

        guiders.createGuider({
            buttons: [
                {name: "Close"
                    ,onclick: function() {
                    finish_tour()
                }}],
            description: "Remember to review some submissions before you submit further challenges. You can start with the Factorial challenge to receive automatic review!",
            id: "fourth",
            overlay: true,
            title: "Jeeqs on!"
        });

        $(document).ready(function () {
            $(':button').button();

            $('#take_tour').on('click', function() {
                guiders.show('first')
            })

            $('#show_tour').on('click', function(event) {
                event.preventDefault()
                guiders.show('first')
            })

            $('.challenge_in_list').on({
                        'mouseenter': function() {
                            $(this).css('background', "#FFC");
                        }
                        ,'mouseleave': function() {
                            $(this).css('background', '');
                        }
                    }
            )

            $(".challenge_stats").on('click', function(event) {
                event.stopPropagation();
                var $avatars = $(this).parents('.challenge_in_list').find('.challenge_avatars')
                if ($avatars.css('display') == 'none') {
                    // Get people who solved this challenge
                    var $challenge_key = $('input[name="challenge_key"]', $avatars).val()
                    $.ajax({
                        url: "/rpc",
                        async: true,
                        type: "GET",
                        data: {'method': 'get_challenge_avatars', 'challenge_key': $challenge_key},
                        success: function(response){
                            $avatars.html(response);
                        }
                    })
                    $avatars.show();
                }
                else {
                    $avatars.hide()
                }
            })

            $(".challenge_in_list").on('click', function() {
                window.location=$(this).find("a").attr("href");
                // return false;
            });
        });
    </script>
{% endblock script %}

{% block column1 %}
    <h2>Python {# A Gentle Introduction to Programming Using Python, OCW, MIT #}
    <a class="noline"
       href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-189-a-gentle-introduction-to-programming-using-python-january-iap-2011/"
       target="_blank">
        <i class="icon-share-alt" style="float: right"></i>
    </a>
    </h2>
    <div id="challenge-list" style="float:left; margin: 10px;font-size: 14px; cell-padding: 5px;">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#">Challenges</a>
            </li>
        </ul>

        <div style="cursor: pointer; overflow: auto; max-height: 400px; font-family: monaco">
            {% for challenge in challenges %}
                <div class="challenge_in_list" style="padding-right: 10px; height: 80px; clear:both">
                    <div style="float:left; margin-bottom: 2px">
                        <a class="noline" href="/challenge/?ch={{ challenge.key() }}" style="color:
                                {% if challenge.status == 'correct' %}
                                    #089619
                                {% endif %}
                                {% if challenge.status == 'incorrect' %}
                                    #960D22
                                {% endif %}
                            ">
                            {{ challenge.name }}
                            {% if challenge.automatic_review %} <i title="Jeeqs will reviews this!" class="icon-refresh"></i>{% endif %}
                        </a>
                    </div>
                    <div style="float:right; margin-bottom: 2px">
                        <span>
                            <a class="noline" href="/challenge/?ch={{ challenge.key() }}" title="Solve this challenge">
                                {% if challenge.status == 'correct' %}
                                    <span class="ui-icon ui-icon-unlocked" style="float:left"></span>
                                {% else %}
                                    <span class="icon-lock" style="float:left"></span>
                                {% endif %}
                            </a>
                        </span>
                    </div>
                    <div style="float: right; clear:right">
                        {%if challenge.num_jeeqsers_solved > 0 %}
                            {% set cursor = 'pointer' %}
                        {% else %}
                            {% set cursor = 'default' %}
                        {% endif %}
                        <span class="challenge_stats" style="cursor: {{ cursor }}; color: #808080; font-size: smaller; float:left; margin-left: 20px;">
                            <span
                                    title="{{ challenge.num_jeeqsers_solved|d('0')}} jeeqser(s) solved and {{ challenge.num_jeeqsers_submitted|d('0')}} jeeqser(s) submitted for this challenge. Also {{ challenge.submissions_without_review|d('0') }} submissions are without reviews right now!" class="badge"
                                    style="border-radius: 0px; float:right">
                                <span> <b>{{ challenge.num_jeeqsers_solved|d('0')}}</b><i class="icon-ok-circle"></i></span>
                                <span> <b>{{ challenge.num_jeeqsers_submitted|d('0')}}</b><i class="icon-arrow-up"></i></span>
                                <span> <b>{{ challenge.submissions_without_review|d('0')}}</b><i class="icon-question-sign"></i></span>
                            </span>
                        </span>
                    </div>

                    {% if challenge.last_solver %}
                        <div style="float: right; clear:right; margin-top: 5px">
                            {{  avatar(challenge.last_solver.key(), challenge.last_solver_picture_url, style='float:right') }}
                        </div>
                    {% endif %}

                    {% if challenge.exercise_number %}
                        <div style="float: left; clear:left; font-size: smaller; margin-left: 10px">
                            {{ challenge.exercise_number}}&nbsp;
                        </div>
                    {% endif %}

                    {% if challenge.exercise_number %}
                        <div style="float:left; font-size: smaller" title="{{ challenge.exercise_course_name }}">
                            {{ challenge.exercise_course_code }} &nbsp;
                        </div>
                        <div style="float: left; font-size: smaller;">
                            {{ challenge.exercise_program }}&nbsp;{{ challenge.exercise_university }}
                        </div>
                    {% endif %}

                    {% if challenge.submitted %}
                        <div style="float: left; clear:left;">
                            {% with submission=challenge.jc %}
                                {% include "attempt_score.html"%}
                            {% endwith %}
                        </div>
                    {% endif %}

                    <div class="challenge_avatars" style="display:none; float:left; clear:both; margin: 5px; background-color: rgba(0, 0, 0, .05); width: 98%%; margin-left: 1%; margin-right: 1%">
                        <input type=hidden name="challenge_key" value="{{ challenge.key() }}" style="display: none"/>
                        <span style="color:#d3d3d3;">Loading ...</span>
                    </div>

                    <div style="padding-top: 10px; clear:both"></div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="all-jeeqs-in-list" style="float:left; margin:10px; ">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#">In Jeeqs</a>
            </li>
        </ul>
        <div class="jeeqs-list" style="max-height: 600px; overflow: auto">
            {% with %}
                {% set feedbacks = injeeqs %}
                {% set write_challenge_name = 'true' %}

                {% include "in_jeeqs_list.html"%}
            {% endwith %}
        </div>
    </div>

{% endblock column1 %}
{% block column2 %}
    {% if not jeeqser.took_tour %}
        <div id="tour" style="float:right; margin: 10px; width: 100%; text-align: center">
            <button class="btn btn-info" id="take_tour">Take a Tour</button>
        </div>
    {% endif %}
    <div id="all_activities" style="width:90%; float:right; clear:right; margin: 10px;">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#">Activities</a>
            </li>
        </ul>
        <div style="max-height: 500px; overflow: auto; ">
            {% include "activities_list.html"%}
        </div>
    </div>
    <div style="width: 90%; margin: 10px; float:right; clear:right">
        {% include "plusone.html" %}
        {% include "facebook_likebox.html" %}
    </div>
{% endblock column2 %}

{% block container_footer %}
    <div style="float:left; clear:both; margin: 20px;">
        <a id="show_tour" class="noline" style="color: grey" href="#"> Take a Tour! </a>
    </div>
{% endblock container_footer %}

