{% if jeeqser %}
    {% if attempts|length == 0 %}
        <p style="color:grey">Nothing to show here, yet!</p>
    {% endif %}
    {% for attempt in attempts %}
        <p style="color: grey"> <a class="noline" href="/challenge/?ch={{ challenge.key.urlsafe() }}&att={{ attempt.key.urlsafe() }}"> Attempt #{{ attempt.index }}</a>  @  {{ attempt.date|timesince }}</p>
        <div>
            {{ attempt.content|safe }}
        </div>
        <hr/>
    {% endfor %}
{% endif %}

{% if cursor or has_newer %}
    <div style="margin-top: 20px; margin-left: 15px; float:left; clear:left">
        <ul class="pager">
            {% if has_newer %}
                <li>
                    <a id="attempts_newer" href="#" data-challenge_key="{{ challenge.key.urlsafe() }}" style="margin-right: 10px;" >Newer</a>
                </li>
            {% endif %}
            {% if cursor %}
                <li>
                    <a id="attempts_older" href="#" data-challenge_key="{{ challenge.key.urlsafe() }}" data-cursor="{{ cursor }}" >Older</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
