{% extends "base_twoColumn.html" %}

{% block load_scripts %}
{#  Pagedown  #}

<link rel="stylesheet" type="text/css" href="/static/pagedown/demo/browser/demo.css" />

<script type="text/javascript" src="/static/pagedown/Markdown.Converter.js"></script>
<script type="text/javascript" src="/static/pagedown/Markdown.Sanitizer.js"></script>
<script type="text/javascript" src="/static/pagedown/Markdown.Editor.js"></script>

{% endblock %}

{% block script %}
<script>
    function runProgram() {
        var program = $editor.getSession().getValue();
        shell.onRunKeyClick(program);
    }

    function clearOutput() {
        var output = document.getElementById('output');
        output.value = '';
    }

    $(document).ready(function() {
        $.ajax({
            url: "/rpc",
            async: true,
            type: "GET",
            data: {'method': 'get_challenge_avatars', 'challenge_key': $('#challenge_key').val()},
            success: function(response){
                $("#avatars").html(response);
            },
            error: function(response) {
                $("#avatars").text('error');
            }
        });
        {% if draft %}
            $('#wmd-input').val('{{ draft.markdown|escapejs }}')
            {% endif %}

            {% if not challenge.automatic_review and not attempt%}
            var converter = Markdown.getSanitizingConverter();
            converter.hooks.chain("postConversion", function (text) {
                return text.replace(/\s*:::(:)*python\s*\n/, "");
            });
            var editor1 = new Markdown.Editor(converter);
            editor1.hooks.chain("onPreviewRefresh", function() {
                MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
            })
            editor1.run();
            {% endif %}

            $consoleInitialized = false

            $('#submitSolutionButton').bind('click', function(event, ui) {
                $(this).attr("disabled", "disabled");
                var $solution = $('#wmd-input') .val();
                var $challengeKey = $('#challenge_key').val();
                $initiator = $(this)

                $.ajax({
                    url: "/rpc",
                    async: true,
                    type: "POST",
                    data: {
                        'method': 'submit_attempt',
                        'challenge_key': $challengeKey,
                        'solution':$solution},
                    success: function(response){
                        $initiator.button('submitted');
                        $initiator.attr("disabled", "disabled");
                        window.location.replace("/");
                    },
                    error: function(response){
                        $initiator.button('oops');
                    }
                })
            })

            $('#save_draft_submission_button').bind('click', function(event, ui) {
                var $solution = $('#wmd-input') .val();
                var $challengeKey = $('#challenge_key').val();
                $initiator = $(this)

                $.ajax({
                    url: "/rpc",
                    async: true,
                    type: "POST",
                    data: {'method': 'save_draft_solution', 'challenge_key': $challengeKey, 'solution':$solution},
                    success: function(response){
                        $initiator.button('saved');
                        setTimeout("$initiator.button(\"save\");" ,1500);
                    },
                    error: function(response) {
                        $initiator.button('error');
                        setTimeout("$initiator.button(\"save\");" ,1500);
                    }
                })
            })

            $('#submit_program').bind('click', function(event, ui) {
                $(this).attr("disabled", "disabled");
                var $solution = $editor.getSession().getValue()
                var $challengeKey = $('#challenge_key').val();
                $initiator = $(this)

                $.ajax({
                    url: "/rpc",
                    async: true,
                    type: "POST",
                    data: {
                        'method': 'submit_attempt',
                        'challenge_key': $challengeKey,
                        'solution':$solution},
                    success: function(response){
                        $initiator.button('submitted');
                        window.location.replace("/");
                    },
                    error: function(response){
                        $initiator.button('oops');
                    }
                })
            })

            if ($("#editor").length) {
                // Initialize the editor
                $editor = ace.edit("editor");
                $editor.setTheme("ace/theme/twilight");
                var pythonMode = require("ace/mode/python").Mode;
                $editor.getSession().setMode(new pythonMode());
                {% if template_code %}
                    $editor.getSession().setValue("{{ template_code|escapejs }}");
                    {% else %}
                    $editor.getSession().setValue("# Write your python code here!");
                    {% endif %}
                }

                $(':button').button();

                {% if not jeeqser %}
                $('#submitSolutionButton, #submit_program').
                        attr('disabled', 'disabled');
                {% endif %}

                $('#insert_program').bind('click', function() {
                    var $codeLines = $editor.getSession().getValue().split(/\r\n|\r|\n/);
                    $('#wmd-input').val(
                            $('#wmd-input').val()
                                    + '\n    :::python'
                    )
                    $.each($codeLines, function(index, value) {
                        $('#wmd-input').val(
                                $('#wmd-input').val()
                                        + '\n    '
                                        + value
                        )
                    })
                });

                review_page_loaded = false;
                $('#submissions a[href="#review"]').on('click shown', function(e){
                    // Load the review page using ajax
                    if (review_page_loaded)
                        return;

                    $('#review').html('Loading ... ')
                    $.ajax({
                        url: "/review/?ch={{ challenge.key.urlsafe() }}",
                        async: true,
                        type: "GET",
                        success: function(response) {
                            $('#review').html(response);
                            review_page_loaded = true
                        },
                        error: function(response) {
                            $('#review').html('An Error occurred while loading this page. Please try again later ...');
                        }
                    })
                });

                var recent_attempts_loaded = false;
                $('#submissions a[href="#recent-attempt-contents"]').on('click shown', function(e) {
                    // Load recent attempts section using AJAX
                    if (recent_attempts_loaded)
                        return;

                    $('#recent-attempt-contents').html('<br />Loading...');
                    $.ajax({
                        url: "/attempts/?ch={{ challenge.key.urlsafe() }}",
                        async: true,
                        type: "GET",
                        success: function(response) {
                            $('#recent-attempt-contents').html(response);
                            recent_attempts_loaded = true;
                        },
                        error: function(response) {
                            $('#recent-attempt-contents').html('An error occurred while loading this page. Please try again later ...');
                        }
                    });
                });

                var activeTab = $('[href=' + location.hash + ']');
                if (activeTab && !(window.location.hash === "")) {
                    activeTab.tab('show');
                }
                else {
                    // select Your submissions tab
                    $('#submissions a:first').tab('show');
                }
            })
</script>
{% endblock script %}

{% block container_header %}
{% include "challenge.html" %}
{% endblock container_header %}

{% block column1 %}
<div id="submissions" class="row-fluid">
    <ul id="submissions_tabs" class="nav nav-tabs">
        <li><a href="#your_submission" data-toggle="tab">Your Submission</a></li>
        <li><a href="#review" data-toggle="tab">Review</a></li>
    </ul>
    <div id="submissions_tabs_content" class="tab-content">
        <div id="your_submission" class="fade tab-pane">
            <div id="submission" class="clearfix">
                {% if submission %}
                {% set active = 'Active' %}
                {% if not submission.active %}
                {% set active = 'Not Active' %}
                {% endif %}
                <h3> Submitted for review ({{ active }})</h3>
                <div id="submission-content">
                    {{ submission.content|safe}}
                </div>
                {% else %}
                <div class="gray">
                    No submission found! Please Submit a solution!
                </div>
                {% endif %}
            </div>

            <div id="your_submission_in_jeeqs" class="pull-left span12">
                {% if submission %}
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#"><i class = "icon icon-arrow-down" ></i>Incoming Jeeqs</a>
                    </li>
                </ul>
                <div class="clearfix">
                    {#<h4>Submission score: {{ submission.feedback_score_average}}/4 based on reviews by {{ submission.review_count }} Jeeqsers</h4>#}
                    {% include "attempt_score.html"%}
                </div>
                <div class="injeeqs_container">
                    {% set cursor = feedbacks_cursor %}
                    {% set submissionKey = submission.key.urlsafe() %}
                    <div class="jeeqs-list">
                        {% include "in_jeeqs_list.html" %}
                    </div>
                </div>
                {% endif %}
            </div>

            {% if not attempt %}
            <div id="new_submission" class="row-fluid">
                <div id="answerForm">
                    <input type="hidden" name="challenge_key" id="challenge_key" value="{{ challenge_key.urlsafe() }}" />

                    {% if not challenge.automatic_review %}
                    <div id="solutionContainer" class="">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#">Solution</a>
                            </li>
                        </ul>

                        <div class="wmd-panel">
                            <div id="wmd-button-bar"></div>
                            <textarea class="span12" id="wmd-input"></textarea>
                            <div class="pull-right"><a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> and <a href="http://www.mathjax.org/">MathJax</a> are supported.</div>
                        </div>
                        <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                        <div id="submitButton">
                            {% if jeeqser %}
                            {% if jeeqser.reviews_out_num >= jeeqser.submissions_num or challenge.name == 'Factorial' or isadmin %}
                            <button class="btn btn-success btn-large" data-submitted-text="Submitted!" data-oops-text="Oops! something went wrong" id ="submitSolutionButton">Submit Solution</button>
                            {% else %}
                            <button class="btn btn-success btn-large" id="submitSolutionButton" disabled="disabled" title="Submission credit has reached 0. Please review some submissions first.">Submit Solution</button>
                            {% endif %}
                            <button class="btn btn-large" id="save_draft_submission_button" data-save-text="Save as Draft" data-error-text="Oops!! Try again!" data-saved-text="Saved!">Save as Draft</button>
                            {% else %}
                            <button class="btn btn-success btn-large" id ="submitSolutionButton" disabled="disabled">Login to Submit!</button>
                            {% endif %}
                        </div>

                    </div>
                    {% endif %} {# automatic review #}
                    <br/>
                </div>
            </div>

            <div id="console">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#">Sandbox</a>
                    </li>
                </ul>
                <div>


                    <div id="editorContainer">
                        <div id="editor" class="span12"></div>
                    </div>


                    <textarea id="output" class="span12" readonly="readonly" placeholder="Console">
                    </textarea>



                    <button class="btn" onclick="clearOutput()">Clear Console</button>
                    <button class="btn" onclick="runProgram()">Run</button>

                    {% if not challenge.automatic_review %}
                    <button id ="insert_program" class="btn">Use as Solution</button>
                    {% else %}
                    <button id="submit_program" data-submitted-text="Queued for review!" data-oops-text="Oops! something went wrong!" class="btn">Submit</button>
                    {% endif %}
                </div>

                <div id="recent-attempts" class="accordion span12">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle noline" data-toggle="collapse" data-parent="#recent-attempts" href="#recent-attempt-contents">
                                Your Recent Submissions
                            </a>
                        </div>
                        <div id="recent-attempt-contents" class="recent-jeeqs accordion-body collapse"></div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <div id="review" class="fade tab-pane"></div>
    </div>
</div>
{% endblock column1 %}
{% block column2 %}
<div id="challenge_avatars" class="hero-unit">
    <ul class="nav">
        <li><i class="icon-ok-circle shift-right-2"></i> {{ challenge.num_jeeqsers_solved|d('0')}} jeeqser(s) solved. </li>
        <li><i class="shift-right-2 icon-arrow-up"></i> {{ challenge.num_jeeqsers_submitted|d('0')}} jeeqser(s) submitted for this challenge. </li>
        <li><i class="shift-right-2 icon-bell"></i> {{ challenge.submissions_without_review|d('0') }} submissions don't have reviews.</li>
    </ul>
    <div id="avatars" class="clearfix"></div>
</div>
{% endblock column2 %}
