{# Shows the user's information as well as authentication links #}

<div id="userInfo" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav pull-left">
                <li><a class="brand" href="/">Jeeqs <img src="/static/favicon.ico"/></a></li>
            </ul>
            <ul class="nav pull-right">
                {# class="active" will highlight the navigation item! #}
                {% if jeeqser %}
                    <li class="divider-vertical"></li>
                    <li><img class="nav_profile_pic" src="{{ jeeqser.profile_url }}"/></li>
                    <li>
                        <a href="/user/"
                        {% if jeeqser.suspended_until %}
                            title="Your account is suspended until {{ jeeqser.suspended_until }}"
                        {% endif %}
                        >{{ jeeqser.displayname }}
                        {% if jeeqser.suspended_until %}
                            <i class="icon-exclamation-sign"></i>
                        {% endif %}
                        </a>
                    </li>
                    <li><a href="{{ logout_url }}"> Log-out <i class="icon-off icon-white"></i></a></li>
                {% else %}
                    <li><a href="{{ login_url }}">Log-in</a></li>
                {% endif %}
                <li class="divider-vertical"></li>
                <li><a href="/about/">About</a></li>
            </ul>
        </div>
    </div>
</div>
