{# Shows the user's information as well as authentication links #}

<div id="userInfo" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav pull-left">
                <li>
                    <a class="brand"
                    {% if course %}
                        href="/?course_code={{ course.code }}
                    {% elif challenge %}
                        href="/?course_code={{ challenge.exercise_course_code }}"
                    {% else %}
                        href="/"
                    {% endif %}
                    ">Jeeqs <img src="/static/favicon.ico"/></a></li>
                {% if course and courses %}
                    <li class="divider-vertical"></li>
                    <ul role="navigation" class="nav">
                        <li>
                            <div class="dropdown">
                                <a data-toggle="dropdown" class="btn btn-success dropdown-toggle" role="button" href="#" id="course_dropdown">
                                    {{ course.code }} - {{ course.name }} - <span class="label label-success">{{ course.university }}</span>
                                    <i class="icon icon-caret-down"></i>
                                </a>
                                <ul aria-labelledby="drop1" role="menu" class="dropdown-menu">
                                    {% for course in courses %}
                                        <li role="presentation">
                                            <a href="/?course_code={{ course.code }}" tabindex="-1" role="menuitem">
                                                {{ course.code }} - {{ course.name }} - <span class="label label-success">{{ course.university }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            </ul>
            <ul class="nav pull-right">
                {# class="active" will highlight the navigation item! #}
                {% if jeeqser %}
                    <li class="divider-vertical"></li>
                    <li><img class="nav_profile_pic" src="{{ jeeqser.profile_url }}"/></li>
                    <li>
                        <a href="/user/"
                        {% if jeeqser.suspended_until %}
                            title="Your account is suspended until {{ jeeqser.suspended_until }}"
                        {% endif %}
                            >{{ jeeqser.displayname }}
                        {% if jeeqser.suspended_until %}
                            <i class="icon-exclamation-sign"></i>
                        {% endif %}
                        </a>
                    </li>
                    <li><a href="{{ logout_url }}"> Log-out <i class="icon-off icon-white"></i></a></li>
                {% else %}
                    <li><a href="{{ login_url }}" id="login_url">Log-in</a></li>
                {% endif %}
                <li class="divider-vertical"></li>
                <li><a href="/about/">About</a></li>
            </ul>
        </div>
    </div>
</div>