body {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; /* Open Sans is a Google Web font*/
    font-size: 14px;
}

p {
    margin: 0.5em;
    /*font-family: arial;*/
}

a img {
    border: none;
}

.prompt {
    width: 80%;
    border: 1px solid silver;
    background-color: #f5f5f5;
    font-size: 10pt;
    margin: 0.5em;
    padding: 0.5em;
    padding-right: 0em;
    overflow-x: hidden;
}

#output {
    margin-top: 10px;
    height:200px;
}
#toolbar {
    margin-left: 0.5em;
    padding-left: 0.5em;
}

.message {
    color: #8AD;
    font-weight: bold;
    font-style: italic;
}

.error {
    color: #F44;
}

.submission-placeholder {
    background: #f0f8ff;
    padding: 5px;
}

.ui-widget-content {
    background: white;
}

.codehilite {
    background: #EED;
}

#wmd-input {
    height:200px;
}

.recent-jeeqs {
    font-size: small;
    /*font-family: monospace;*/
}

div.submission-feedback .ui-state-active.correct_label {
    background: green
}

div.submission-feedback .ui-state-active.incorrect_label {
    background: #ff5967
}

div.submission-feedback .ui-state-active.flag_label {
    background: grey;
}

.jeeqser-value {
    margin-left: 20px;
}

.current_profile_picture {
    background-color: green;
    padding: 5px;
}

.selectable_profile_picture {
    cursor: pointer;
}

.badge_links {
    text-decoration: none;
    cursor: none;
}

.shift-right-2 {
    margin-left: 2px;
}

.font-normal {
    font-weight: normal;
}

.deeplink:hover {
    background-color: #0074cc;
}

.load_more {
    text-align: center;
}

#load_more {
    width: 81%;
    margin-top: 18px;
}

a.noline {
    text-decoration: none!important;
}

.nav_profile_pic {
    height: 32px;
    width: 32px;
    border-radius: 2px;
    margin-top:3px;
}

.activity_entry {
    margin-top: 10px;
    font-size:small;
    float:left; clear:both;
}

.activity_avatar {
    float:left;
    width: 30px;
}

.activity_info {
    margin-left: 30px;
}

.activity_time {
    color:grey;
    font-size:smaller;
}

.avatar {
    margin-right: 5px;
    float:left;
    padding-bottom:5px;
}

.avatar_img_url {
    height:25px;
    width:25px;
    border-radius: 2px;
}

#challenge-list {
    margin-top: 10px;
}

.challenge_in_list {
    min-height: 81px;
    overflow:auto!important;
    padding: 9px;
    border: 1px solid #ffffff;
    cursor: pointer;
}

.challenge_in_list:hover {
    border-top: 1px solid #c0deed;
    border-bottom: 1px solid #c0deed;
    background: #e3e9ff;
}

.clear-right {
    clear: right;
}

.clear-left {
    clear: left;
}

.challenge_stats {
    cursor: pointer;
    padding:0px!important;
    margin:0px;
    margin-left:5px;
}

.challenge_stats_container {
    width: 150px;
    padding:0px;
    margin:0px;
}

.content_centered {
    width: 100%;
    text-align: center;

}

.gray {
    color: gray!important;
}

.challenge_title {
    font-size: 14px;;
}

.course_details {
    font-size: 11px!important;
    letter-spacing: 1px;
}

a.black {
    color: black;
}

a.black:hover {
    color: black;
}

.correct {
    background:#21AB02!important;
    margin-right: 5px;
}

.incorrect {
    background:red!important;
    margin-right: 5px;
}

.share_social {
    width: 90%;
    margin: 10px;
    float:right;
    clear:right;
}

.course:after {
    content: " > ";
    margin-right:5px;
}

.attempt_score {
    margin-right: 5px;
}

#challenge {
    margin-bottom: 20px;
}

#viewer_container {
    height: 400px!important;
    overflow: auto;
}

#viewer {
    overflow: hidden;
}

#pdf_display {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    position:relative;
}

#challenge_tab_contents {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
    margin-bottom:20px;
}

#submission-content {
    overflow:auto;
}

.injeeqs_item {
    padding:5px;
    border-bottom:1px solid #c0deed!important;
}

.injeeqs_item:hover {
    background: #e3e9ff;
}

#your_submission_in_jeeqs {
    margin-left:0px;
    margin-top: 20px;
}

.injeeqs_container {
    max-height: 300px;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#editorContainer {
    position: relative;
    width: 100%;
    height: 300px;
}

#editor {
    height:300px; "
}

#recent-attempts {
    margin-top: 30px;
    margin-left:0px;
}

.hero-unit {
    padding:20px!important;
}

.submission-placeholder {
    margin-bottom: 10px;
    clear:both;
    border: 1px solid #eeeeee;
    border-radius: 5px;
}

.submission-feedback {
    clear:both;
    padding:10px;

}

.feedback-buttons {
    margin-bottom:10px;
}

#solutionContainer {
    margin-left:0px;
}

#console {
    margin-top: 20px;;
}

.margin-left-zero {
    margin-left:0px!important;
}

.avatar_review {
    margin-right:5px;
}

.other_reviews_container {
    width:80%;
    float:left;
    clear:both;
    margin-left: 10px;
}

.other_reviews_div {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
}
